.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;

  height: 100vh;
}

.form {
  max-width: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
